<app-header></app-header>

<!-- Slider -->
<section id="hero">
    <ngx-slick-carousel 
        class="carousel"
        #slickModal="slick-carousel"  
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="hero-slide">
            <!-- <img srcset="{{ slide.imgResponsive }} 320w, 
                         {{ slide.img }} 800w" 
                 sizes="(max-width: 380px) 280px, 
                        800px" 
                 src="{{ slide.img }}"> -->
            <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</section>

<section id="category">
    <div class="container">
        <div class="category">
            <div class="category-content" *ngFor="let category of categories">
                <img [src]="category.img" alt="">
            </div>
        </div>
    </div>
</section>

<section id="products">
    <div class="container">
        <div class="products">
            <h3 class="products-title">PRODUCTOS MAS BUSCADOS</h3>
            <ngx-slick-carousel
                class="products-carousel"
                #slickModal='slick-carousel'
                [config]='slideConfigProducts'
                (init)="slickInit($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">

                <div ngxSlickItem *ngFor="let product of products | slice:0:5">
                    <div class="card">
                        <div class="card-header">
                            <a [routerLink]="['/product-detail', product.id]">
                                <img class="image"
                                    [src]="product.thumbnail" 
                                    [alt]="product.title">
                            </a>
                        </div>
                        <div class="card-body">
                            <a [routerLink]="['/product-detail', product.id]" class="title">
                                {{product.title}}
                            </a>
                            <div class="card-body__pricing">
                                <div class="pricing">
                                    <span class="pricing-main">
                                        ${{ product.price }}
                                    </span>
                                    <span class="pricing-secondary">
                                        ${{ product.price }}
                                    </span>
                                </div>
                                <div class="buy">
                                    <button class="btn btn-secondary">
                                        Agregar al carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ngx-slick-carousel>
        </div>
    </div>
</section>

<app-footer></app-footer>